In [10]:
#ENTRADA DE DADOS

In [12]:
!pip install scikit-learn

Collecting scikit-learn
  Downloading scikit_learn-1.7.2-cp313-cp313-win_amd64.whl.metadata (11 kB)
Requirement already satisfied: numpy>=1.22.0 in d:\pos\tec-avancadas\analise-de-dados-pandas\venv\lib\site-packages (from scikit-learn) (2.3.3)
Collecting scipy>=1.8.0 (from scikit-learn)
  Downloading scipy-1.16.2-cp313-cp313-win_amd64.whl.metadata (60 kB)
Collecting joblib>=1.2.0 (from scikit-learn)
  Downloading joblib-1.5.2-py3-none-any.whl.metadata (5.6 kB)
Collecting threadpoolctl>=3.1.0 (from scikit-learn)
  Downloading threadpoolctl-3.6.0-py3-none-any.whl.metadata (13 kB)
Downloading scikit_learn-1.7.2-cp313-cp313-win_amd64.whl (8.7 MB)
   ---------------------------------------- 0.0/8.7 MB ? eta -:--:--
   ---- ----------------------------------- 1.0/8.7 MB 6.0 MB/s eta 0:00:02
   --------- ------------------------------ 2.1/8.7 MB 5.0 MB/s eta 0:00:02
   -------------- ------------------------- 3.1/8.7 MB 5.0 MB/s eta 0:00:02
   ------------------- -------------------- 4.2/8.7 MB 5.1 MB/s eta 0:00:01
   ------------------------ --------------- 5.2/8.7 MB 5.1 MB/s eta 0:00:01
   ------------------------------ --------- 6.6/8.7 MB 5.3 MB/s eta 0:00:01
   --------------------------------- ------ 7.3/8.7 MB 5.4 MB/s eta 0:00:01
   ------------------------------------ --- 7.9/8.7 MB 4.8 MB/s eta 0:00:01
   ---------------------------------------- 8.7/8.7 MB 4.7 MB/s eta 0:00:00
Downloading joblib-1.5.2-py3-none-any.whl (308 kB)
Downloading scipy-1.16.2-cp313-cp313-win_amd64.whl (38.5 MB)
   ---------------------------------------- 0.0/38.5 MB ? eta -:--:--
    --------------------------------------- 0.8/38.5 MB 5.2 MB/s eta 0:00:08
   - -------------------------------------- 1.8/38.5 MB 4.9 MB/s eta 0:00:08
   -- ------------------------------------- 2.9/38.5 MB 4.9 MB/s eta 0:00:08
   ---- ----------------------------------- 4.2/38.5 MB 5.0 MB/s eta 0:00:07
   ---- ----------------------------------- 4.7/38.5 MB 4.7 MB/s eta 0:00:08
   ----- ---------------------------------- 5.5/38.5 MB 4.3 MB/s eta 0:00:08
   ------ --------------------------------- 6.0/38.5 MB 4.2 MB/s eta 0:00:08
   ------ --------------------------------- 6.6/38.5 MB 4.0 MB/s eta 0:00:08
   ------- -------------------------------- 7.3/38.5 MB 3.8 MB/s eta 0:00:09
   -------- ------------------------------- 7.9/38.5 MB 3.8 MB/s eta 0:00:09
   -------- ------------------------------- 8.1/38.5 MB 3.7 MB/s eta 0:00:09
   --------- ------------------------------ 8.9/38.5 MB 3.5 MB/s eta 0:00:09
   --------- ------------------------------ 9.2/38.5 MB 3.4 MB/s eta 0:00:09
   --------- ------------------------------ 9.4/38.5 MB 3.3 MB/s eta 0:00:09
   ---------- ----------------------------- 9.7/38.5 MB 3.1 MB/s eta 0:00:10
   ---------- ----------------------------- 10.0/38.5 MB 3.0 MB/s eta 0:00:10
   ---------- ----------------------------- 10.0/38.5 MB 3.0 MB/s eta 0:00:10
   ---------- ----------------------------- 10.2/38.5 MB 2.7 MB/s eta 0:00:11
   ---------- ----------------------------- 10.2/38.5 MB 2.7 MB/s eta 0:00:11
   ---------- ----------------------------- 10.2/38.5 MB 2.7 MB/s eta 0:00:11
   ---------- ----------------------------- 10.5/38.5 MB 2.4 MB/s eta 0:00:12
   ----------- ---------------------------- 10.7/38.5 MB 2.3 MB/s eta 0:00:13
   ----------- ---------------------------- 10.7/38.5 MB 2.3 MB/s eta 0:00:13
   ----------- ---------------------------- 11.0/38.5 MB 2.2 MB/s eta 0:00:13
   ----------- ---------------------------- 11.3/38.5 MB 2.1 MB/s eta 0:00:13
   ----------- ---------------------------- 11.5/38.5 MB 2.1 MB/s eta 0:00:14
   ------------ --------------------------- 11.8/38.5 MB 2.0 MB/s eta 0:00:14
   ------------ --------------------------- 12.1/38.5 MB 2.0 MB/s eta 0:00:14
   ------------ --------------------------- 12.3/38.5 MB 2.0 MB/s eta 0:00:14
   ------------- -------------------------- 12.6/38.5 MB 2.0 MB/s eta 0:00:14
   ------------- -------------------------- 12.8/38.5 MB 2.0 MB/s eta 0:00:14
   ------------- -------------------------- 13.4/38.5 MB 2.0 MB/s eta 0:00:13
   -------------- ------------------------- 13.9/38.5 MB 2.0 MB/s eta 0:00:13
   --------------- ------------------------ 14.7/38.5 MB 2.0 MB/s eta 0:00:12
   --------------- ------------------------ 14.7/38.5 MB 2.0 MB/s eta 0:00:12
   --------------- ------------------------ 15.2/38.5 MB 2.0 MB/s eta 0:00:12
   ---------------- ----------------------- 15.5/38.5 MB 1.9 MB/s eta 0:00:12
   ---------------- ----------------------- 15.7/38.5 MB 1.9 MB/s eta 0:00:12
   ---------------- ----------------------- 15.7/38.5 MB 1.9 MB/s eta 0:00:12
   ---------------- ----------------------- 15.7/38.5 MB 1.9 MB/s eta 0:00:12
   ---------------- ----------------------- 16.0/38.5 MB 1.8 MB/s eta 0:00:13
   ---------------- ----------------------- 16.3/38.5 MB 1.8 MB/s eta 0:00:13
   ----------------- ---------------------- 16.5/38.5 MB 1.8 MB/s eta 0:00:13
   ----------------- ---------------------- 16.5/38.5 MB 1.8 MB/s eta 0:00:13
   ----------------- ---------------------- 16.8/38.5 MB 1.8 MB/s eta 0:00:13
   ----------------- ---------------------- 17.0/38.5 MB 1.8 MB/s eta 0:00:13
   ----------------- ---------------------- 17.3/38.5 MB 1.7 MB/s eta 0:00:13
   ------------------ --------------------- 17.6/38.5 MB 1.7 MB/s eta 0:00:13
   ------------------ --------------------- 17.8/38.5 MB 1.7 MB/s eta 0:00:13
   ------------------ --------------------- 17.8/38.5 MB 1.7 MB/s eta 0:00:13
   ------------------ --------------------- 18.1/38.5 MB 1.7 MB/s eta 0:00:13
   ------------------- -------------------- 18.6/38.5 MB 1.7 MB/s eta 0:00:12
   ------------------- -------------------- 18.9/38.5 MB 1.7 MB/s eta 0:00:12
   ------------------- -------------------- 19.1/38.5 MB 1.7 MB/s eta 0:00:12
   ------------------- -------------------- 19.1/38.5 MB 1.7 MB/s eta 0:00:12
   ------------------- -------------------- 19.1/38.5 MB 1.7 MB/s eta 0:00:12
   -------------------- ------------------- 19.4/38.5 MB 1.6 MB/s eta 0:00:12
   -------------------- ------------------- 19.7/38.5 MB 1.6 MB/s eta 0:00:12
   -------------------- ------------------- 19.7/38.5 MB 1.6 MB/s eta 0:00:12
   -------------------- ------------------- 19.9/38.5 MB 1.6 MB/s eta 0:00:12
   -------------------- ------------------- 20.2/38.5 MB 1.5 MB/s eta 0:00:12
   -------------------- ------------------- 20.2/38.5 MB 1.5 MB/s eta 0:00:12
   --------------------- ------------------ 20.4/38.5 MB 1.5 MB/s eta 0:00:12
   --------------------- ------------------ 20.7/38.5 MB 1.5 MB/s eta 0:00:12
   --------------------- ------------------ 21.0/38.5 MB 1.5 MB/s eta 0:00:12
   ---------------------- ----------------- 21.2/38.5 MB 1.5 MB/s eta 0:00:12
   ---------------------- ----------------- 21.5/38.5 MB 1.5 MB/s eta 0:00:12
   ---------------------- ----------------- 22.0/38.5 MB 1.5 MB/s eta 0:00:11
   ---------------------- ----------------- 22.0/38.5 MB 1.5 MB/s eta 0:00:11
   ----------------------- ---------------- 22.5/38.5 MB 1.5 MB/s eta 0:00:11
   ----------------------- ---------------- 22.8/38.5 MB 1.5 MB/s eta 0:00:11
   ------------------------ --------------- 23.3/38.5 MB 1.5 MB/s eta 0:00:10
   ------------------------ --------------- 23.9/38.5 MB 1.5 MB/s eta 0:00:10
   ------------------------- -------------- 24.4/38.5 MB 1.5 MB/s eta 0:00:10
   ------------------------- -------------- 24.6/38.5 MB 1.5 MB/s eta 0:00:10
   ------------------------- -------------- 24.9/38.5 MB 1.5 MB/s eta 0:00:09
   -------------------------- ------------- 25.2/38.5 MB 1.5 MB/s eta 0:00:09
   -------------------------- ------------- 25.4/38.5 MB 1.5 MB/s eta 0:00:09
   -------------------------- ------------- 26.0/38.5 MB 1.5 MB/s eta 0:00:09
   -------------------------- ------------- 26.0/38.5 MB 1.5 MB/s eta 0:00:09
   -------------------------- ------------- 26.0/38.5 MB 1.5 MB/s eta 0:00:09
   --------------------------- ------------ 26.2/38.5 MB 1.5 MB/s eta 0:00:09
   --------------------------- ------------ 26.2/38.5 MB 1.5 MB/s eta 0:00:09
   --------------------------- ------------ 26.2/38.5 MB 1.5 MB/s eta 0:00:09
   --------------------------- ------------ 26.5/38.5 MB 1.5 MB/s eta 0:00:09
   --------------------------- ------------ 26.7/38.5 MB 1.5 MB/s eta 0:00:09
   ---------------------------- ----------- 27.3/38.5 MB 1.5 MB/s eta 0:00:08
   ---------------------------- ----------- 27.5/38.5 MB 1.5 MB/s eta 0:00:08
   ---------------------------- ----------- 27.8/38.5 MB 1.5 MB/s eta 0:00:08
   ----------------------------- ---------- 28.3/38.5 MB 1.5 MB/s eta 0:00:07
   ----------------------------- ---------- 28.8/38.5 MB 1.5 MB/s eta 0:00:07
   ------------------------------ --------- 29.4/38.5 MB 1.5 MB/s eta 0:00:07
   ------------------------------- -------- 29.9/38.5 MB 1.5 MB/s eta 0:00:06
   ------------------------------- -------- 30.1/38.5 MB 1.5 MB/s eta 0:00:06
   ------------------------------- -------- 30.7/38.5 MB 1.5 MB/s eta 0:00:06
   -------------------------------- ------- 30.9/38.5 MB 1.5 MB/s eta 0:00:06
   -------------------------------- ------- 31.5/38.5 MB 1.5 MB/s eta 0:00:05
   -------------------------------- ------- 31.7/38.5 MB 1.5 MB/s eta 0:00:05
   --------------------------------- ------ 32.2/38.5 MB 1.5 MB/s eta 0:00:05
   --------------------------------- ------ 32.5/38.5 MB 1.5 MB/s eta 0:00:04
   ---------------------------------- ----- 32.8/38.5 MB 1.5 MB/s eta 0:00:04
   ---------------------------------- ----- 33.0/38.5 MB 1.5 MB/s eta 0:00:04
   ---------------------------------- ----- 33.0/38.5 MB 1.5 MB/s eta 0:00:04
   ---------------------------------- ----- 33.3/38.5 MB 1.5 MB/s eta 0:00:04
   ---------------------------------- ----- 33.6/38.5 MB 1.5 MB/s eta 0:00:04
   ----------------------------------- ---- 33.8/38.5 MB 1.5 MB/s eta 0:00:04
   ----------------------------------- ---- 34.1/38.5 MB 1.5 MB/s eta 0:00:03
   ----------------------------------- ---- 34.3/38.5 MB 1.5 MB/s eta 0:00:03
   ----------------------------------- ---- 34.6/38.5 MB 1.5 MB/s eta 0:00:03
   ------------------------------------ --- 34.9/38.5 MB 1.5 MB/s eta 0:00:03
   ------------------------------------ --- 34.9/38.5 MB 1.5 MB/s eta 0:00:03
   ------------------------------------ --- 35.1/38.5 MB 1.5 MB/s eta 0:00:03
   ------------------------------------ --- 35.4/38.5 MB 1.5 MB/s eta 0:00:03
   ------------------------------------- -- 35.7/38.5 MB 1.5 MB/s eta 0:00:02
   ------------------------------------- -- 35.7/38.5 MB 1.5 MB/s eta 0:00:02
   ------------------------------------- -- 35.7/38.5 MB 1.5 MB/s eta 0:00:02
   ------------------------------------- -- 35.9/38.5 MB 1.4 MB/s eta 0:00:02
   ------------------------------------- -- 36.2/38.5 MB 1.4 MB/s eta 0:00:02
   ------------------------------------- -- 36.2/38.5 MB 1.4 MB/s eta 0:00:02
   ------------------------------------- -- 36.4/38.5 MB 1.4 MB/s eta 0:00:02
   ------------------------------------- -- 36.4/38.5 MB 1.4 MB/s eta 0:00:02
   ------------------------------------- -- 36.4/38.5 MB 1.4 MB/s eta 0:00:02
   -------------------------------------- - 36.7/38.5 MB 1.4 MB/s eta 0:00:02
   -------------------------------------- - 36.7/38.5 MB 1.4 MB/s eta 0:00:02
   -------------------------------------- - 37.0/38.5 MB 1.4 MB/s eta 0:00:02
   -------------------------------------- - 37.0/38.5 MB 1.4 MB/s eta 0:00:02
   -------------------------------------- - 37.2/38.5 MB 1.4 MB/s eta 0:00:01
   -------------------------------------- - 37.5/38.5 MB 1.4 MB/s eta 0:00:01
   -------------------------------------- - 37.5/38.5 MB 1.4 MB/s eta 0:00:01
   ---------------------------------------  37.7/38.5 MB 1.4 MB/s eta 0:00:01
   ---------------------------------------  38.0/38.5 MB 1.4 MB/s eta 0:00:01
   ---------------------------------------  38.3/38.5 MB 1.4 MB/s eta 0:00:01
   ---------------------------------------  38.3/38.5 MB 1.4 MB/s eta 0:00:01
   ---------------------------------------  38.3/38.5 MB 1.4 MB/s eta 0:00:01
   ---------------------------------------- 38.5/38.5 MB 1.3 MB/s eta 0:00:00
Downloading threadpoolctl-3.6.0-py3-none-any.whl (18 kB)
Installing collected packages: threadpoolctl, scipy, joblib, scikit-learn
Successfully installed joblib-1.5.2 scikit-learn-1.7.2 scipy-1.16.2 threadpoolctl-3.6.0

[notice] A new release of pip is available: 25.0.1 -> 25.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [5]:
ls

 O volume na unidade D ‚ Novo volume
 O N£mero de S‚rie do Volume ‚ F6C6-776A

 Pasta de D:\pos\tec-avancadas\analise-de-dados-pandas\notebooks

11/09/2025  21:01    <DIR>          .
11/09/2025  21:01    <DIR>          ..
10/09/2025  20:32    <DIR>          .ipynb_checkpoints
10/09/2025  21:46    <DIR>          assets
11/09/2025  21:01             2.205 aula-01.ipynb
               1 arquivo(s)          2.205 bytes
               4 pasta(s)   313.774.993.408 bytes dispon¡veis

In [2]:
import pandas as pd

In [3]:
dados = pd.read_csv('assets/Global finance data.csv')

In [4]:
finance_df = pd.DataFrame(dados)

In [5]:
finance_df

,Country,Date,Stock_Index,Index_Value,Daily_Change_Percent,Market_Cap_Trillion_USD,GDP_Growth_Rate_Percent,Inflation_Rate_Percent,Interest_Rate_Percent,Unemployment_Rate_Percent,...,Commodity_Index,Oil_Price_USD_Barrel,Gold_Price_USD_Ounce,Bond_Yield_10Y_Percent,Credit_Rating,Political_Risk_Score,Banking_Sector_Health,Real_Estate_Index,Export_Growth_Percent,Import_Growth_Percent
0,United States,2024-08-15,S&P_500,5437.2,0.34,51.20,2.8,2.9,5.50,3.7,...,1.12,77.85,2487.5,4.25,AAA,8.1,Strong,145.6,3.2,2.8
1,China,2024-08-15,Shanghai_Composite,2891.6,-0.82,12.40,5.2,0.8,3.10,5.2,...,0.98,77.85,2487.5,2.15,A+,6.7,Moderate,98.7,8.9,6.1
2,Japan,2024-08-15,Nikkei_225,36789.1,1.24,6.80,0.9,2.8,-0.10,2.4,...,1.05,77.85,2487.5,0.89,A+,8.4,Strong,89.3,5.1,4.7
3,Germany,2024-08-15,DAX,18234.5,0.67,2.90,0.3,2.2,4.50,3.1,...,1.08,77.85,2487.5,2.31,AAA,8.7,Strong,112.4,2.1,1.8
4,United Kingdom,2024-08-15,FTSE_100,8156.3,-0.15,3.10,1.1,2.0,5.25,4.2,...,1.06,77.85,2487.5,3.89,AA,7.9,Moderate,97.8,0.9,1.2
5,France,2024-08-15,CAC_40,7389.2,0.28,3.00,1.3,2.3,4.50,7.4,...,1.08,77.85,2487.5,2.95,AA,7.3,Moderate,103.2,1.8,2.1
6,India,2024-08-15,Sensex,80456.7,0.89,4.30,6.8,4.9,6.50,3.2,...,1.15,77.85,2487.5,7.04,BBB-,6.8,Moderate,134.8,13.2,10.9
7,Canada,2024-08-15,TSX,22567.8,0.45,2.80,2.9,2.8,4.75,6.1,...,1.09,77.85,2487.5,3.42,AAA,8.9,Strong,126.7,4.1,3.8
8,Brazil,2024-08-15,Bovespa,129834.2,1.67,1.40,2.1,4.5,10.75,7.8,...,0.95,77.85,2487.5,10.84,BB-,5.4,Weak,89.3,8.7,6.9
9,Australia,2024-08-15,ASX_200,7923.4,0.22,1.80,1.7,3.8,4.35,4.1,...,1.11,77.85,2487.5,4.07,AAA,8.6,Strong,118.9,6.2,5.4
10,South Korea,2024-08-15,KOSPI,2634.5,-0.34,1.90,3.1,2.4,3.50,2.9,...,1.02,77.85,2487.5,3.28,AA,7.8,Strong,95.6,9.1,7.8
11,Russia,2024-08-15,MOEX,2789.1,0.78,0.60,-1.9,7.4,16.00,3.4,...,0.87,77.85,2487.5,12.45,BB+,3.2,Weak,67.4,15.2,18.7
12,Mexico,2024-08-15,IPC,55234.6,0.91,0.70,2.4,4.7,11.00,2.8,...,0.89,77.85,2487.5,9.12,BBB,6.1,Moderate,102.3,7.9,8.2
13,Italy,2024-08-15,FTSE_MIB,33456.7,0.34,0.90,0.7,1.0,4.50,7.6,...,1.08,77.85,2487.5,3.67,BBB,7.1,Moderate,89.7,3.2,2.9
14,Spain,2024-08-15,IBEX_35,11123.8,0.67,0.80,2.5,3.2,4.50,11.5,...,1.08,77.85,2487.5,3.21,A,7.8,Moderate,98.3,4.1,3.7
15,Netherlands,2024-08-15,AEX,889.3,0.12,1.10,0.6,1.1,4.50,3.6,...,1.08,77.85,2487.5,2.78,AAA,8.8,Strong,134.5,2.8,2.4
16,Switzerland,2024-08-15,SMI,12234.5,0.28,1.80,1.2,1.4,1.25,2.4,...,1.13,77.85,2487.5,0.68,AAA,9.1,Strong,142.6,1.9,2.1
17,Sweden,2024-08-15,OMX_Stockholm,2567.8,0.45,0.70,0.8,1.9,3.75,7.8,...,1.07,77.85,2487.5,2.34,AAA,8.9,Strong,119.8,3.4,2.9
18,Norway,2024-08-15,OSE,1345.6,0.67,0.40,2.1,3.1,4.50,3.4,...,1.14,77.85,2487.5,3.12,AAA,9.0,Strong,127.3,8.9,6.7
19,Denmark,2024-08-15,OMXC_20,2234.5,0.23,0.40,1.8,1.7,3.60,5.1,...,1.08,77.85,2487.5,2.45,AAA,8.9,Strong,124.7,2.1,1.8
20,Singapore,2024-08-15,STI,3456.7,0.56,0.80,2.6,2.4,3.50,2.1,...,1.09,77.85,2487.5,3.18,AAA,8.7,Strong,98.9,12.4,11.7
21,Hong Kong,2024-08-15,Hang_Seng,17234.5,-1.23,4.20,3.2,1.8,5.75,2.8,...,0.98,77.85,2487.5,3.89,AA+,7.2,Moderate,87.6,6.7,5.9
22,Taiwan,2024-08-15,TAIEX,22567.8,0.78,2.10,3.8,2.1,1.50,3.7,...,1.04,77.85,2487.5,1.23,AA,8.1,Strong,112.4,15.2,13.8
23,Indonesia,2024-08-15,JCI,7234.5,0.45,0.70,5.1,2.8,6.00,5.4,...,0.94,77.85,2487.5,7.12,BBB,6.5,Moderate,89.7,8.9,7.3
24,Thailand,2024-08-15,SET,1567.8,0.34,0.60,2.9,0.4,2.50,1.2,...,0.97,77.85,2487.5,2.67,BBB+,7.1,Moderate,95.3,4.1,3.8
25,Malaysia,2024-08-15,KLCI,1634.5,0.67,0.50,4.2,2.0,3.00,3.4,...,0.91,77.85,2487.5,3.78,A-,7.3,Moderate,87.9,6.7,5.9
26,Philippines,2024-08-15,PSE,6789.1,0.89,0.30,5.8,3.7,6.50,5.9,...,0.88,77.85,2487.5,6.45,BBB+,6.8,Moderate,78.9,8.1,7.4
27,Vietnam,2024-08-15,VN_Index,1234.5,1.23,0.30,6.4,4.1,4.50,12.3,...,0.85,77.85,2487.5,2.89,BB+,6.2,Moderate,123.4,12.8,14.2
28,Turkey,2024-08-15,BIST_100,10567.8,2.34,0.30,3.1,64.8,50.00,10.5,...,0.76,77.85,2487.5,28.45,B+,4.8,Weak,67.8,3.4,8.9
29,South Africa,2024-08-15,JSE,75234.6,0.78,0.40,0.9,4.7,8.25,28.7,...,0.82,77.85,2487.5,11.78,BB-,5.9,Weak,89.3,2.1,1.8
30,Egypt,2024-08-15,EGX_30,25678.9,1.45,0.03,2.8,33.1,27.25,7.2,...,0.71,77.85,2487.5,19.45,B+,4.2,Weak,56.7,12.3,23.4
31,Nigeria,2024-08-15,NSE,98765.4,2.10,0.04,3.2,21.8,18.75,5.1,...,0.68,77.85,2487.5,14.67,B-,3.8,Weak,78.9,23.4,34.5
32,Chile,2024-08-15,IPSA,5678.9,0.67,0.20,2.4,4.1,5.75,8.8,...,0.93,77.85,2487.5,5.89,A,7.8,Moderate,95.6,6.7,5.2
33,Argentina,2024-08-15,Merval,1567890.2,3.45,0.05,-1.6,211.4,133.00,6.2,...,0.45,77.85,2487.5,89.45,CCC+,2.1,Weak,34.5,-12.3,15.6
34,Colombia,2024-08-15,COLCAP,1234.5,0.89,0.10,1.2,7.2,10.75,10.2,...,0.78,77.85,2487.5,12.34,BB+,5.8,Moderate,87.3,8.9,7.1
35,Peru,2024-08-15,Lima_General,23456.7,1.12,0.08,2.8,2.8,5.75,6.4,...,0.91,77.85,2487.5,6.78,BBB+,6.7,Moderate,98.7,9.8,8.2
36,UAE,2024-08-15,ADX,9876.5,0.34,0.70,3.9,1.9,5.40,2.8,...,1.06,77.85,2487.5,4.12,AA,8.2,Strong,134.5,23.4,18.9
37,Saudi Arabia,2024-08-15,Tadawul,12345.6,0.56,2.80,1.1,-0.4,6.00,5.8,...,1.18,77.85,2487.5,4.23,A-,6.9,Moderate,98.7,12.3,8.9
38,Israel,2024-08-15,TA_125,1987.3,-0.78,0.40,2.0,2.3,4.75,3.4,...,1.03,77.85,2487.5,4.56,A+,6.8,Moderate,89.7,5.6,4.2

In [14]:
from sklearn.datasets import load_iris

In [15]:
data = load_iris()

In [16]:
iris_df = pd.DataFrame(data.data, columns=data.feature_names)
iris_df['encode_target'] = data.target

In [17]:
iris_df

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),encode_target
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,2
146,6.3,2.5,5.0,1.9,2
147,6.5,3.0,5.2,2.0,2
148,6.2,3.4,5.4,2.3,2
149,5.9,3.0,5.1,1.8,2

lidando com dados corrompidos ou nulos

In [18]:
iris_df.isna()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),encode_target
0,False,False,False,False,False
1,False,False,False,False,False
2,False,False,False,False,False
3,False,False,False,False,False
4,False,False,False,False,False
...,...,...,...,...,...
145,False,False,False,False,False
146,False,False,False,False,False
147,False,False,False,False,False
148,False,False,False,False,False
149,False,False,False,False,False

In [19]:
# isna() -> cria uma matriz booleana (True onde for NaN, False caso contrário)
# any(axis=1) -> verifica se em cada linha existe ao menos um True (ou seja, um NaN)
# iris_df[...] -> filtra o DataFrame, retornando apenas as linhas com valores faltantes
iris_df[iris_df.isna().any(axis=1)]

Empty DataFrame
Columns: [sepal length (cm), sepal width (cm), petal length (cm), petal width (cm), encode_target]
Index: []

In [20]:
iris_df_rem = iris_df.dropna()#remove linhas faltantes

In [21]:
iris_df_rem

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),encode_target
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,2
146,6.3,2.5,5.0,1.9,2
147,6.5,3.0,5.2,2.0,2
148,6.2,3.4,5.4,2.3,2
149,5.9,3.0,5.1,1.8,2

In [22]:
iris_df_mean = iris_df.fillna(iris_df.mean())#substitui valores faltantes pela media
iris_df_zero = iris_df.fillna(0)#substitui valores faltantes por zero
iris_df_imposs = iris_df.fillna(-999)#substitui valores faltantes por valor impossivel

In [23]:
iris_df['petal width (cm)'].unique()

array([0.2, 0.4, 0.3, 0.1, 0.5, 0.6, 1.4, 1.5, 1.3, 1.6, 1. , 1.1, 1.8,
       1.2, 1.7, 2.5, 1.9, 2.1, 2.2, 2. , 2.4, 2.3])

In [24]:
iris_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  150 non-null    float64
 1   sepal width (cm)   150 non-null    float64
 2   petal length (cm)  150 non-null    float64
 3   petal width (cm)   150 non-null    float64
 4   encode_target      150 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 6.0 KB

REGULARIZAÇÃO DE DADOS

In [25]:
import numpy as np

In [26]:
iris_df['artificial'] = np.random.uniform(100,1000, iris_df.shape[0]).round(2)

In [27]:
iris_df

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),encode_target,artificial
0,5.1,3.5,1.4,0.2,0,601.16
1,4.9,3.0,1.4,0.2,0,797.34
2,4.7,3.2,1.3,0.2,0,531.65
3,4.6,3.1,1.5,0.2,0,492.98
4,5.0,3.6,1.4,0.2,0,668.21
...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,2,148.10
146,6.3,2.5,5.0,1.9,2,181.15
147,6.5,3.0,5.2,2.0,2,979.00
148,6.2,3.4,5.4,2.3,2,325.25
149,5.9,3.0,5.1,1.8,2,438.70

In [28]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
print(scaler.fit(iris_df))
novo_iris_df = scaler.transform(iris_df)

MinMaxScaler()

In [29]:
novo_iris_df = pd.DataFrame(novo_iris_df, columns=iris_df.columns).round(2)

In [30]:
novo_iris_df

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),encode_target,artificial
0,0.22,0.62,0.07,0.04,0.0,0.56
1,0.17,0.42,0.07,0.04,0.0,0.78
2,0.11,0.50,0.05,0.04,0.0,0.48
3,0.08,0.46,0.08,0.04,0.0,0.44
4,0.19,0.67,0.07,0.04,0.0,0.63
...,...,...,...,...,...,...
145,0.67,0.42,0.71,0.92,1.0,0.05
146,0.56,0.21,0.68,0.75,1.0,0.09
147,0.61,0.42,0.71,0.79,1.0,0.98
148,0.53,0.58,0.75,0.92,1.0,0.25
149,0.44,0.42,0.69,0.71,1.0,0.38

In [33]:
novo_iris_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sepal length (cm)  150 non-null    float64
 1   sepal width (cm)   150 non-null    float64
 2   petal length (cm)  150 non-null    float64
 3   petal width (cm)   150 non-null    float64
 4   encode_target      150 non-null    float64
 5   artificial         150 non-null    float64
dtypes: float64(6)
memory usage: 7.2 KB

In [36]:
novo_iris_df.describe()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),encode_target,artificial
count,150.000000,150.000000,150.000000,150.000000,150.000000,150.000000
mean,0.428600,0.440667,0.466800,0.457800,0.500000,0.495733
std,0.230177,0.181462,0.299535,0.318657,0.409616,0.297543
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.220000,0.330000,0.100000,0.080000,0.000000,0.260000
50%,0.420000,0.420000,0.570000,0.500000,0.500000,0.470000
75%,0.580000,0.540000,0.690000,0.710000,1.000000,0.750000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [37]:
 json_array=[ {'a':1,'b':2}, {'a':3,'b':4}, {'a':5,'b':6} ] 
 df = pd.DataFrame(json_array)
 df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   a       3 non-null      int64
 1   b       3 non-null      int64
dtypes: int64(2)
memory usage: 180.0 bytes

In [38]:
 json_array=[ {'a':1,'b':2}, {'a':3,'b':4}, {'a':5,'b':6} ] 
 df = pd.DataFrame(json_array)
 df.describe()

         a    b
count  3.0  3.0
mean   3.0  4.0
std    2.0  2.0
min    1.0  2.0
25%    2.0  3.0
50%    3.0  4.0
75%    4.0  5.0
max    5.0  6.0

In [45]:
 df = pd.DataFrame([[1, 2], [4, 5], [7, 8]],
       index=['cobra', 'viper', 'sidewinder'],
       columns=['max_speed', 'shield'])

In [46]:
df

            max_speed  shield
cobra               1       2
viper               4       5
sidewinder          7       8

In [41]:
print(df.loc['viper'])

max_speed    4
shield       5
Name: viper, dtype: int64

In [42]:
 print(df.loc[['viper', 'sidewinder']])

            max_speed  shield
viper               4       5
sidewinder          7       8

In [49]:
s1 = pd.Series(['a', 'b'])
s2 = pd.Series(['c', 'd'])
pd.concat([s1, s2], axis=1)

   0  1
0  a  c
1  b  d

In [53]:
df1 = pd.DataFrame({'lkey': ['foo', 'bar', 'baz', 'foo'],
                     'value': [1, 2, 3, 5]})
df2 = pd.DataFrame({'rkey': ['foo', 'bar', 'baz', 'foo'],
                     'value': [5, 6, 7, 8]})
df1.merge(df2, left_on='lkey', right_on='rkey', suffixes=('_left','_right'))

  lkey  value_left rkey  value_right
0  foo           1  foo            5
1  foo           1  foo            8
2  bar           2  bar            6
3  baz           3  baz            7
4  foo           5  foo            5
5  foo           5  foo            8

In [54]:
df = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3', 'K4', 'K5'],
                    'A': ['A0', 'A1', 'A2', 'A3', 'A4', 'A5']})
other = pd.DataFrame({'key': ['K0', 'K1', 'K2'],
                       'B': ['B0', 'B1', 'B2']})
df.join(other, lsuffix='_caller', rsuffix='_other')

  key_caller   A key_other    B
0         K0  A0        K0   B0
1         K1  A1        K1   B1
2         K2  A2        K2   B2
3         K3  A3       NaN  NaN
4         K4  A4       NaN  NaN
5         K5  A5       NaN  NaN

In [55]:
df = pd.DataFrame({'Animal': ['Falcon', 'Falcon',
                               'Parrot', 'Parrot'],
                    'Max Speed': [380., 370., 24., 26.]})
grouped = df.groupby(['Animal'])

In [57]:
df

   Animal  Max Speed
0  Falcon      380.0
1  Falcon      370.0
2  Parrot       24.0
3  Parrot       26.0

In [56]:
grouped.mean()

        Max Speed
Animal
Falcon      375.0
Parrot       25.0

In [62]:
df = pd.DataFrame([[4, 9]] * 3, columns=['A', 'B'])

In [63]:
df

   A  B
0  4  9
1  4  9
2  4  9

In [64]:
df.apply(np.sqrt)

     A    B
0  2.0  3.0
1  2.0  3.0
2  2.0  3.0

In [70]:
 df['C'] = df.apply(lambda x: x['A']+x['B'], axis=1)

In [71]:
df

   A  B   C
0  4  9  13
1  4  9  13
2  4  9  13

In [73]:
df["A"] = df["A"].apply(lambda x: x + 1)

In [ ]:
df

NameError: name 'df' is not defined

In [38]:
media_de_inflacao = finance_df.iloc[0:9, 7].mean()

In [40]:
print(media_de_inflacao)

2.8